{% extends 'bootstrap/base.html' %}
{% block  title %}サインアップ{% endblock %}

{% block content %}
<div class="container">
    <h1>ユーザー登録</h1>
    <form method="POST">
        <div>
            <label for="">ユーザー名</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="">パスワード</label>
            <input type="password" name="password">
        </div>
        <input type="submit" class="btn btn-info btn-lg m-5" value="新規登録">
    </form>
</div>
{% endblock %}